* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 0 auto;
}
.square {
    border: 1px solid black;
    background-color: beige;
    flex: 1 1 auto;
}
.blue {
    background-color: blue;
}